/*INITIALISATION*/
*{
    margin: 0;
    padding: 0;
}
/*NAVBAR*/
.navbar
{
    display: flex;
    background-color: black;
    position: fixed;
    cursor: pointer;
    width: 100vw;
    z-index: 10;
}
.navlist{
    list-style: none;
    display: flex;
    
}
.navlist li{
    padding: 2.5vh 3.5vh;
    border: 2px solid black;
}
.navlist li a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 5vh;
}
/*HOME*/
.homehead
{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 11vh;
}
.home
{
    padding: 50vh 10vh 30vh;
    margin: auto;
    background: rgba(0,0,0,0.6) url('coronavirus-2.jpg');
    background-size: cover;
    background-blend-mode: hue;
}
/*TIPS PAGE*/
.tips
{
    display: flex;
    flex-direction: column;
    padding: 5vh;
}
.tips h1{
    font-family: 'Playfair Display', serif;
    font-size: 10vh;
    padding: 5vh;
    margin:auto;
}
.wmas{
    font-family: 'Playfair Display', serif;
    font-size: 7vh;
    margin:0px 3vw 0px 45vw;
}
.whan{
    font-family: 'Playfair Display', serif;
    font-size: 7vh;
    margin:0px 40vw 0px 3vw;
}
.tipsub
{
    width:80vw;
    display: flex;
    border: 2px solid black;
    border-radius: 30px;
    align-items: center;
    margin: 5vh;
    padding: 5vh;
    background-color: #ddddff;
}
.tipsub img{
    height: 30vh;
    border-radius: 150px;
    border: 2px solid black;
}
/*SYMPTOMS PAGE*/
.symptoms
{
    display: flex;
    flex-direction: column;
    background-color: #bbbbff;
    align-items: center;
}
.symptoms h1{
    font-family: 'Playfair Display', serif;
    font-size: 10vh;
    padding: 5vh;
    margin:auto;
    color: darkslategray;
}
table.maintable
{
    margin-left: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-right: auto;
    height: 80vh;
    font-size: 4vh;
    font-family: 'Playfair Display', serif;
    text-align: center;
    border: 3px solid black;
    border-spacing:0;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0 ,0 ,0.5);
    width: 80%;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10vh;
    
}
.maintable th, td{
    padding: 10px 10px;
    border: 3px solid #003152;
}
.maintable thead{
    background-color: #003152;
    color: white;
    border: 3px solid black;
    height: 100 px;
}
td{
  background-color: aliceblue;
}
/*FAQ PAGE*/
.faq
{
    display: flex;
    flex-direction: column;
    padding: 5vh;
    background-color: #669dc7;
    align-items: center;
}
.faq h1{
    font-family: 'Playfair Display', serif;
    font-size: 10vh;
    padding: 5vh;
    margin:auto;
    color: darkslategray;
}
.flip-card1 {
    background-color: transparent;
    width: 70vw;
    height: 35vh;
    align-items: "center";
    margin: 3vh;

  }
  .flip-card {
    background-color: transparent;
    width: 70vw;
    height: 20vh;
    align-items: "center";
    margin: 3vh;
    z-index: 1;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 0 10px rgba(0, 0 ,0 ,0.5);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card1:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0 ,0 ,0.5);
    
  }
  
  .flip-card-front {
    background-color: aliceblue;
    color: darkcyan;
    font-family: 'Playfair Display', serif;
    font-size: 5vh;
    width: 70vw;
  }
  
  .flip-card-back {
    background-color: #ddddff;
    color: #003152;
    transform: rotateY(180deg);
    font-family: 'Playfair Display', serif;
    font-size: 3vh;
    width: 70vw;
  }
/*YOUTUBE*/
.youtube h1{
    font-family: 'Playfair Display', serif;
    font-size: 10vh;
    padding: 2vh;
    margin: auto;
    color: darkslategray;
    
}
.youtube
{
    padding: 5vh;
    background-color: #bbbbff;
    align-items: center;
    text-align: center;
    width: 100%;
}
iframe{
    padding: 15vh;
}
/*FOOTER*/
#footer
{
    background-color: black;
    font-family: 'Playfair Display', serif;
    font-size: 3vh;
    text-align: center;
    color: white;
    width: 100vw;
    height: 15vh;
}
.fa-ul
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
}
.fa-ul li{
    padding: 1vh 1vh;
}
.fa-ul li a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color: white;
    justify-content: center;
    font-size: 6vh;
}
/**/
