.page1
{
    height: 100vh;
    padding: 100px;
    margin: auto;
    width: 80vw;
    align-items: center;
    color: rgb(0, 51, 0);
    border: 5px solid black;
}

.page2
{
    height: 100vh;
    padding: 100px;
    margin: auto;
    width: 80vw;
    align-items: center;
    border: 5px solid black;
}
.a {
  height: 30vh;
  width: 80vw;
  padding: 20px;
  margin: auto;
  align-items: center;
  border: 5px solid black;
}
.pg2img
{
  height: 20vh;
  width: 30vh;
  padding: 5vh;
}
.h3
{
  font-size: 30vh;
  padding: 5vh;
}
.page3
{
    height: 100vh;
    padding: 100px;
    margin: auto;
    width: 80vw;
    align-items: center;
    border: 5px solid black;
}
body
{
  background-color: rgb(0, 230, 172);
}
h1.symptoms
{
    margin-bottom: 75px;
    font-size: 5vh;
    color: seagreen;

}
p
{
    font-size: 3vh;
    font-family: 'Playfair Display', serif;
}
/*Table stuff*/
table.maintable
{
    margin-left: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-right: auto;
    height: 80vh;
    font-size: 4vh;
    font-family: 'Playfair Display', serif;
    text-align: left;
    border: 3px solid black;
    border-spacing:0;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0 ,0 ,0.5);
    width: 80%;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10vh;
    
}
.maintable thead{
    background-color: seagreen;
    text-align: center;
    color: white;
    border: 2px solid black;
    height: 100 px;
}
.maintable th, td{
    padding: 10px 10px;
    border: 1px solid black;
}
td{
  background-color: aliceblue;
}
/*PAGE3 FLIP CARDS*/
.flip-card1 {
    background-color: transparent;
    width: 70vw;
    height: 35vh;
     /* Remove this if you don't want the 3D effect */
    align-items: "center";
    margin: auto;
  }
  .flip-card {
    background-color: transparent;
    width: 70vw;
    height: 20vh;
     /* Remove this if you don't want the 3D effect */
    align-items: "center";
    margin: auto;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 0 10px rgba(0, 0 ,0 ,0.5);
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card1:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 2.5vh;
  }
  
  .flip-card-back {
    background-color: white;
    color: seagreen;
    transform: rotateY(180deg);
    font-family: 'Playfair Display', serif;
  }
